body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
  padding-top: 40px;
  background-size:100% 190%;
  background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
  background-repeat: no-repeat;
  
}
